* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

body {
    padding: 48px;
    background-color: rgb(80, 65, 94);
}

/* Container tenga una grilla 5 columnas * 5 filas del mismo ancho y alto */
.container {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    grid-template-rows: repeat(3, 1fr);

    gap: 24px;

    grid-auto-flow: row; /* Es el valor por default */
    /*grid-auto-flow: column; Este valor cambia el flujo a columnas */
    
    /* Esto no es de grid pero funciona para combinar la dirección*/
    direction: rtl; /* Rigth to left */

    width: 500px;
    height: 500px;
    margin: 0 auto; /* Esto centra el elemento cuando tiene ancho definido */
    background-color: rgb(8, 108, 155)
}

.item1 {
    background-color: aqua;
}

.item2 {
    background-color: blue;
}

.item3 {
    background-color: lightcoral;
}

.item4 {
    background-color: darkmagenta;
}
.item5 {
    background-color: lightgreen;
}

.container div {
    font-size: 32px;
    display: flex;
    justify-content: center;
    align-items: center;
    color: white;
}