* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

body {
    padding: 48px;
    background-color: rgb(80, 65, 94);
}

/* Container tenga una grilla 5 columnas * 5 filas del mismo ancho y alto */
.container {
    display: grid;
    grid-template-columns: repeat(3, 100px);
    grid-template-rows: repeat(3, 100px);
    grid-template-areas:   
    "header header header"
    "main    main  sidebar"
    "footer footer footer";


    width: 500px;
    height: 500px;
    margin: 0 auto; /* Esto centra el elemento cuando tiene ancho definido */
    background-color: rgb(8, 108, 155)
}

.header {
    grid-area: header;
    background-color: rgb(252, 189, 107);
}

.main {
    grid-area: main;
    background-color: rgb(192, 143, 238);
}

.sidebar {
    grid-area: sidebar;
    background-color: rgb(195, 0, 255);
}

.footer {
    grid-area: footer;
    background-color: brown;
}